@{
    ViewData["Title"] = "File Upload";
}

<div>
    <h4>Mutliple File Upload</h4>
    <form asp-controller="Home" asp-action="UploadFiles" enctype="multipart/form-data" method="post">
        <input type="file" id="file" class="form-control" multiple name="files" onchange="updateList()" aria-label="Recipient's username" aria-describedby="basic-addon2" style="padding:0px;">
        <div>
            <button type="submit" class="btn btn-primary" style="margin-top:1%;">Upload</button>
        </div>
        <br /><div class="text-nowrap bd-highlight" style="width:8rem;">
            Selected files:
        </div>
        <div id="fileList"></div>
    </form>
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
<script type="text/javascript">
    function updateList() {
        var input = document.getElementById('file');
        var output = document.getElementById('fileList');

        output.innerHTML = '<ul>';
        for (var i = 0; i < input.files.length; ++i) {
            output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
        }
        output.innerHTML += '</ul>';
    }
</script>

